@charset "utf-8";
	.st0
{
	background : #3C3C3B;
	background : rgba(60, 60, 59, 1);
}
.st1
{
	background : #3C3C3B;
	background : rgba(60, 60, 59, 1);
}
.image
{
	background-image : url(image.png);
	background-repeat : no-repeat;
}
