@charset "utf-8";
	.image
{
	background-image : url(image.png);
	background-repeat : no-repeat;
}
.NormalCharacterStyle
{
	font-family : Century Gothic;
	font-size : 28pt;
	letter-spacing : 14pt;
	color : #526D82;
	color : rgb(82, 109, 130);
}
.NormalCharacterStyle1
{
	font-family : Century Gothic;
	font-size : 61pt;
	letter-spacing : 9.15pt;
	color : #526D82;
	color : rgb(82, 109, 130);
}
