/* PortfolioScreen.css */

/* Styles for the main container in PortfolioScreen */
.portfolio__container {
  margin-top: 6rem;
}

/* Styles for the header text in PortfolioScreen */
.portfolio__headerText {
  color: var(--clr-white);
}

/* Styles for the divider in PortfolioScreen */
.portfolio__divider {
  margin-bottom: 2rem !important;
}
.modal-content {
  padding: 1.5rem;
  overflow: auto;
  max-height: 100vh;
}
.close-button-container {
  padding: 10px; /* Add padding to increase the clickable area */
}
