
.banner__container {
  /* z-index: -1; */
  width: 100%;
  height: 100vh;
  background-image: url(../assets/images/sun-star-bg.png);
  background-size: cover;
  background-position: 0;
  background-repeat: no-repeat;
  position: relative;
}

.banner__link {
  text-decoration: none;
  color: var(--clr-white);
  text-align: center;
  font-size: 1.1rem;
  transition: all ease 0.3s;
}

.banner__link:hover {
  filter: drop-shadow(0 0 5px var(--clr-super-light-blue));
  transform: scale(1.1);
}

/* .banner__stars {
  background-image: url(../assets/images/stars.png);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-position: center;
  background-size: cover;
}

.banner__lines {
  background-image: url(../assets/images/lines.png);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-position: -150px -150px;
  background-size: cover;
  background-repeat: no-repeat;
  zoom: 200%;
}

.banner__sun {
  background-image: url(../assets/images/sun.png);
  position: absolute;
  top: 15%;
  left: -11%;
  bottom: 20%;
  width: 39%;
  height: 72%;
  background-size: contain;
  background-repeat: no-repeat;
} */

.banner__linkOne {
  position: absolute;
  left: 25%;
  top: 5%;
  background-size: contain;
  background-repeat: no-repeat;
}

.banner__linkOne img {
  width: 110px;
  height: 150px;
}

.banner__linkTwo {
  position: absolute;
  left: 36%;
  bottom: 10%;
  background-size: contain;
  background-repeat: no-repeat;
}

.banner__linkTwo img {
  width: 110px;
  height: 150px;
}

.banner__linkThree {
  position: absolute;
  left: 41.5%;
  top: 15%;
  background-size: contain;
  background-repeat: no-repeat;
}

.banner__linkThree img {
  width: 180px;
  height: 230px;
}

.banner__linkFour {
  position: absolute;
  left: 52%;
  bottom: 12%;
  background-size: contain;
  background-repeat: no-repeat;
}

.banner__linkFour img {
  width: 120px;
  height: 170px;
}

.banner__linkFive {
  position: absolute;
  left: 58%;
  top: 9%;
  background-size: contain;
  background-repeat: no-repeat;
}

.banner__linkFive img {
  width: 180px;
  height: 230px;
}

.banner__linkSix {
  position: absolute;
  left: 67%;
  bottom: 15%;
  background-size: contain;
  background-repeat: no-repeat;
}

.banner__linkSix img {
  width: 290px;
  height: 210px;
}

.banner__linkSeven {
  position: absolute;
  left: 80%;
  top: 15%;
  background-size: contain;
  background-repeat: no-repeat;
}

.banner__linkSeven img {
  width: 110px;
  height: 150px;
}

.banner__linkEight {
  position: absolute;
  left: 90%;
  bottom: 15%;
  background-size: contain;
  background-repeat: no-repeat;
}

.banner__linkEight img {
  width: 110px;
  height: 150px;
}